$primary: #F8F9FA;
$accent: #009C3B;
$borderColor: #ADB5BD;
$profileHeight: 130px;
$profileWidth: 130px;
$profileOffset: -60px;
$infoSize: 15px;
$projectSize: 16px;
$numberSize: 24px;
$titleSize: 32px;
$sectionSize: 40px;